body {
    padding: 3em 0em;
    width: 100%;
  }

img {
    width: 100%;
}

.joke {
  padding: 3em;
  text-align: center;
  color: black;
  height: auto;
  width: auto;
  margin-bottom: 2em;
  background: #e3e3e3;
}

.simple-style {
    padding-top: 2em;
    text-align: left;
    // img {
    //   width: 40%;
    //   align: center;
    //   padding-bottom: 1em;
    // }
}

@media (max-width: 320px) {
  h1 {
    font-size: 22px;
  }
  .joke {
    padding: 1em;
    height: 100px;
    font-size: 10px;
  }
} 

@media (max-width: 480px) and (min-width: 321px) {
  .joke {
    padding: 1em;
    height: 125px;
    font-size: 11px;
  }
} 

@media (max-width: 768px) and (min-width: 481px) {
  .joke {
    height: 175px;
    font-size: 15px;
  }
} 

@media (max-width: 991px) and (min-width: 769px){
  .joke {
    height: 250px;
    font-size: 18px;
  }
}

@media (max-width: 1199px) and (min-width: 992px){
  .joke {
    height: 250px;
    font-size: 20px;
  }
}

@media (min-width: 1199px){
  .joke {
    height: 300px;
    font-size: 22px;
  }
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

// Resume Styling
// ------------------------------------------------------

.title {
  text-align: left;
}

.employer {
  text-align: left;
}

.tenure {
  text-align: right;
}